*.root
*.pdf
*.pyc
*.png
*.tgz
*.log
*.txt
*.tex
.*
!/.gitignore
*.out
*.json

temp 
oldScripts
cms-das-stats

Condor_Histogramming/condor
Condor_Histogramming/docker_stderror
Condor_Histogramming/oldOnes
Condor_Histogramming/temp


Condor_Histogramming/*.root
Condor_Histogramming/*.pdf
Condor_Histogramming/*.pyc
Condor_Histogramming/*.png
Condor_Histogramming/*.tgz
Condor_Histogramming/*.log
Condor_Histogramming/*.tex






FullYearMisIDEleSFvalues.py
MisIDEleSFvalues.py
ZJetSFvalues.py
TTGamma_nonPrompt_values.py
TTGamma_nonPrompt_values_all.py
TTGamma_nonPrompt_values_bothChannelSeparateYear.py
TTGamma_nonPrompt_values_separateChannelYear.py

CombineFitting/*/*.dot

CombineFitting/oldScript
CombineFitting/myJupyter
CombineFitting/AllTexFiles
CombineFitting/ttGamma_otherRemoved
CombineFitting/AllSFFiles
CombineFitting/temp
CombineFitting/MisIDEleFittingWithSystematics_test


CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.root
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.png
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.pdf
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.tex
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.out
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.json
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.root
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.html
CombineFitting/MisIDEleFittingSystematicsSeparateYear/*.log


CombineFitting/FullYearFittingMWZ/*.root
CombineFitting/FullYearFittingMWZ/*.png
CombineFitting/FullYearFittingMWZ/*.pdf
CombineFitting/FullYearFittingMWZ/*.tex
CombineFitting/FullYearFittingMWZ/*.out
CombineFitting/FullYearFittingMWZ/*.json
CombineFitting/FullYearFittingMWZ/*.root
CombineFitting/FullYearFittingMWZ/*.html
CombineFitting/FullYearFittingMWZ/*.log


CombineFitting/ttGamma/*.root
CombineFitting/ttGamma/*.png
CombineFitting/ttGamma/*.pdf
CombineFitting/ttGamma/*.tex
CombineFitting/ttGamma/*.out
CombineFitting/ttGamma/*.json
CombineFitting/ttGamma/*.root
CombineFitting/ttGamma/*.html
CombineFitting/ttGamma/*.log


CombineFitting/Datacard_ZJets_201*/*.root
CombineFitting/Datacard_ZJets_201*/*.png
CombineFitting/Datacard_ZJets_201*/*.pdf
CombineFitting/Datacard_ZJets_201*/*.tex
CombineFitting/Datacard_ZJets_201*/*.out
CombineFitting/Datacard_ZJets_201*/*.json
CombineFitting/Datacard_ZJets_201*/*.root
CombineFitting/Datacard_ZJets_201*/*.html
CombineFitting/Datacard_ZJets_201*/*.log



















